@media (min-width: 1024px) and (max-width: 2048px) {
  .header {
    .inner {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      padding-top: 3.5%;
      .inner__container {
        display: flex;
        flex-direction: column;
        padding-left: 3.5%;
        gap: 4px;
      }
      .inner__container--mod {
        padding-right: 3.5%;
        color: white;
        .social {
          display: flex;
          align-items: center;
          text-align: center;
          gap: 10px;
          font-size: 1rem;
          line-height: normal;
          .btn__inner-lang {
            padding: 7px;
          }
          a {
            svg path:hover {
              fill: var(--Accent);
            }
          }
          button:hover {
            border-radius: 8px;
            background-color: var(--Accent);
            transition: all 0.3s ease-in-out;
          }
          .inner__lang {
            background-color: var(--main-regular);
            color: white;
            font-size: 0.8rem;
            font-weight: 700;
            letter-spacing: 1px;
          }
          .inner__number {
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
    }
  }
  .header__nav {
    margin-top: 3.6%;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    color: white;
    .header__item {
      font-size: 1rem;
      font-weight: 700;
    }
    .header__item a:hover {
      text-decoration: underline;
      color: var(--Accent);
    }
  }
}
